# Dependencies
node_modules/

# Environment variables
.env

# package
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Coverage / tests
coverage/

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/